<%= form_for @list do |form| %>
	
	<label>Title:
		<p><%= form.text_field :title %> </p>
	</label> 


	<label>Description:
		<p><%= form.text_area :description, :rows => 5, :cols => 10 %> </p>
	</label> 



		<p><%= form.submit :class => "btn btn-large btn-primary"%> </p>


<% end %>
