<h1><%= @item.title %></h1>

<p class="well"><%= @item.description %></p>

<%= link_to "back to list", list_url(@list) %>

<% if @list.user == current_user %>
			<span class="pull-right">
					<%= link_to "edit", edit_list_item_url(@list.id, @item.id), :class => "btn btn-mini" %>
			</span>
<% end %>